language: node_js

os:
  - linux

node_js:
  - "node" # latest
  - "9"
  - "8"
  - "7"
  - "6"

addons:
  # addons required for compiling native node modules
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - g++-4.8-multilib
      - gcc-multilib

env:
  - CXX=g++-4.8

script:
  - npm install -g node-gyp
  - node-gyp rebuild
  - node --version
  - npm --version
  - npm test
